.carousel {
    width: 1000px; 
    height: 800px;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
